name: Post MD To Wordpress

on:
  push:
    branches:
      - main  

jobs:
  extract_md_file_content:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v2

    - name: Find latest commit
      run: |
       sha=$(git log --format=%H --grep="create post" -n 1)
       latest=$(git show $sha | grep "+++" | sed 's/.*\///')
       echo $latest > index
       git add index && git commit -m "update index" && git push
      shell: bash
