name: Post MD To Wordpress

on:
  push:
    branches:
      - main  

jobs:
  job_extract_md_file_content:
    runs-on: ubuntu-latest
    steps:
      - id: files
        uses: jitterbit/get-changed-files@v1
        with:
         format: 'json'
      - run: |
          readarray -t added_files <<<"$(jq -r '.[]' <<<'${{ steps.files.outputs.added_files }}')"
          for added_file in ${added_files[@]}; do
          echo "Do something with this ${added_file}."
          done

