name: Post MD To Wordpress

on:
  push:
    branches:
      - main  

jobs:
  job_extract_md_file_content:
    runs-on: ubuntu-latest
    steps:
      - id: files
        uses: jitterbit/get-changed-files@v1
        with:
         format: 'json'
      - run: |
          readarray -t removed_files <<<"$(jq -r '.[]' <<<'${{ steps.files.outputs.removed }}')"
          for removed_file in ${removed_files[@]}; do
          echo "Do something with this ${removed_file}."
          done

