name: Post MD To Wordpress

on:
  push:
    branches:
      - main  

jobs:
  job_extract_md_file_content:
    runs-on: ubuntu-latest
    steps:
      - id: files
        uses: jitterbit/get-changed-files@v1
      - run: |
         for changed_file in ${{ steps.files.outputs.added }}; do
         echo "Do something with this ${changed_file}."
         grep "title" ${changed_file}
         done

